<li class="navigation-header"><span>Censo de Poblacion y Vivienda VIII</span>
    <i class="icon-menu" title="Main pages"></i></li>
<li><a href="#"><i class="icon-home4"></i><span>Sistema de Seguridad</span></a>
    <ul>
        <li><a href="http://192.168.200.123:8001/menu-aplicaciones/"><i class="icon-home4">
        </i>Gestión de Menu de Aplicaciones</a>
        <li class='active'><a href="http://192.168.200.123:8001/proyectos/"><i class="icon-home4">
        </i>Gestión de Proyectos</a>
        <li><a href="http://192.168.200.123:8001/sistemas/"><i class="icon-home4">
        </i>Gestión de Sistemas</a>
        <li><a href="http://192.168.200.123:8001/roles/"><i class="icon-home4">
        </i>Gestión de Roles y Permisos</a>
    </ul>
<li><a href="#"><i class="icon-home4"></i><span>Sistema de Logistica</span></a>
    <ul>
        <li><a href="http://192.168.200.123:8001/almacen/"><i class="icon-home4">
        </i>Almacen</a>
        <li><a href="http://192.168.200.123:8001/almacen2/">
            <i class="icon-home4"></i><span>Almacen2</span></a></li>
    </ul>