{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="panel panel-primary panel-bordered">
        <div class="panel-heading">
            <h5 class="panel-title">PROYECTOS SIGA</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                    <li>
                        <a data-action="close"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select id="proyectos_siga" class="select form-control">
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <button id="btn_agregar_proyecto" type="button" disabled
                            class="btn btn-danger btn-raised legitRipple"><i
                            class="icon-plus-circle2 position-left"></i> Agregar Proyecto
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="tbl_proyecto_siga_selected" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID PROYECTO</th>
                            <th>DESRIPCION</th>
                            <th>CODIGO META</th>
                            <th>CODIGO DEPENDENCIA</th>
                            <th>AÑO META</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary panel-bordered">
        <div class="panel-heading">
            <h5 class="panel-title">GESTIÓN DE PROYECTOS</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                    <li>
                        <a data-action="close"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="tbl_proyectos_seguridad" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>SIGLA</th>
                            <th>AÑO</th>
                            <th>DESCRIPCIÓN</th>
                            <th>CODIGO META</th>
                            <th>ESTADO</th>
                            <th>OPCIONES</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_editar_proyecto" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Editar Proyecto</h5>
                </div>

                <form action="#" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Sigla</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Sigla" name="sigla" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Descripción</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Descripcion" name="descripcion" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Estado</label>
                            <input type="checkbox" name="estado">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link legitRipple" data-dismiss="modal">Cerrar</button>
                        <button type="button" id="btn_save_proyecto_seguridad" class="btn btn-info legitRipple">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modal_asignacion" class="modal fade">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Asignación de Sistema</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <table id="tbl_sistemas_asignados" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>SISTEMA</th>
                                    <th>ACCIÓN</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sistemas por Asignar</label>
                                <div class="multi-select-full">
                                    <select id="select_sistemas_no_asignados" class="form-control">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button id="btn_asignar_sistemas" type="button"
                                    class="btn btn-danger btn-raised legitRipple"><i
                                    class="icon-plus-circle2 position-left"></i> Asignar
                            </button>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link legitRipple" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btn_save_proyecto_seguridad" class="btn btn-info legitRipple">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_proyecto_sistema" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Datos del Proyecto Sistema</h5>
                </div>

                <div class="modal-body">
                    <form action="#" class="form-horizontal" id="frm_datos_proyectosistema">
                        <div class="form-group">
                            <label class="control-label col-sm-3">BASE Url</label>
                            <div class="col-sm-9">
                                <input type="text" name="url_base" placeholder="URL BASE" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Código Único Identificador</label>
                            <div class="col-sm-9">
                                <input type="text" name="codigo" placeholder="Código Único Identificador"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Servidor de Base Datos: </label>
                            <div class="col-sm-9">
                                <input type="text" name="servidor_bd" placeholder="Servidor de Base Datos"
                                       class="form-control">
                                {#                                <span class="help-block">name@domain.com</span>#}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Nombre de Base de Datos</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Nombre de Base de Datos" name="nombre_bd"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Nombre Presentación</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Nombre Presentación" name="presentacion_nombre"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">URL Principal</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="URL Principal" class="form-control" name="url_receive">
                            </div>
                        </div>
                    </form>
                    <div id="div_img_proyectosistema" class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="thumbnail">
                                <div class="thumb">
                                    <img id="img_proyectosistema" src="assets/images/placeholder.jpg" alt="">
                                    <div class="caption-overflow">
										<span>
											<a id="a_proyectosistema" href="assets/images/placeholder.jpg"
                                               data-popup="lightbox" rel="gallery"
                                               class="btn border-white text-white btn-flat btn-icon btn-rounded"><i
                                                    class="icon-plus3"></i></a>
											<a href="#"
                                               class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i
                                                    class="icon-link2"></i></a>
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-semibold">Jala y sube tu imagen, o haz click sobre ella:</p>
                        <form action="#" class="dropzone" id="dropzone_single"></form>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btn_save_proyectosistema" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_administradores_proyectosistema" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Administradores del Proyecto Sistema</h5>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <select name="usuarios_administradores" id="usuarios_administradores" class="form-control">
                                <option value="-1">Busqueda de Usuario Administrador</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button type="button" id="btn_addadm" class="btn btn-primary active legitRipple">Asignar
                            </button>
                        </div>

                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tabla_administradores_sistema">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Usuario</th>
                                    <th>Nombres</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Eliminar</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript"
            src="{% static "assets/js/plugins/forms/selects/bootstrap_multiselect.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/plugins/uploaders/dropzone.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/media/fancybox.min.js" %}"></script>
    <script type="text/javascript" src="{% static "src/helpers.js" %}"></script>
    <script type="text/javascript" src="{% static "dist/seguridad/proyectos.js" %}"></script>
{% endblock %}