{% extends 'base/base3.html' %}
{% load staticfiles %}

{% block content %}

    <div class="main">
        <div class="row">
            <div class="col-md-4">
                <select name="select_proyectos" id="select_proyectos" class="form-control">
                    {% for proyecto in proyectos %}
                        <option {% if proyecto.id == proyecto_id %}
                            selected="selected" {% endif %} value="{{ proyecto.id }}">{{ proyecto.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- TENTH EXAMPLE -->
        {% for sistema in sistemas %}
            <div class="col-md-2">
                <div class="view view-tenth">
                    {% with "media/"|add:sistema.presentation_image as imagen %}
                        <img src="{% static imagen %}"/>
                    {% endwith %}
                    <h3 class="titleicon">{{ sistema.presentacion_nombre }}</h3>
                    <div class="mask">
                        <br>
                        <br>
                        <br>
                        <a href="http://{{ sistema.url_receive }}?key={{ key }}&urlbase={{ seguridadurl }}"
                           class="info">INGRESAR</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/js/require.js" %}"
            data-main="{% static "build/intro.js" %}"></script>
{% endblock %}