{% load staticfiles %}

<div style="background-image: url(/static/assets/images/cabecera.jpg);background-position: 10% 40%;background-size: cover;height: 150px;">
    <div class="col-md-2"> <img src="/static/assets/images/logo_inei.png" style="float:left; left:0; width:160px;margin-left: 20px;margin-top: 18px;"></div>

  <div>
<div class="col-md-8">
  <div style="text-align:center; color:white; font-weight: bold; font-size: 30px; padding: 15px;">INTRANET DE APLICACIONES</div>

    <div style="text-align:center; color:orange; font-weight: bold; font-size: 20px;margin-top: -15px;">Censos Nacionales 2017: XII de Población, VII de Vivienda y III de Comunidades Indígenas<br>(III de Comunidades de la Amazonia Peruana y I de Comunidades Campesinas)</div>
    </div>
    <div class="col-md-2"> <img src="/static/assets/images/logo_censo.png" style="float:right; right:0;width:140px;margin-left: 20px;margin-top: 18px;"></div>
    </div>
</div>

